#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-around;
}


.cardsDiv{
  display: grid;
 
}

.lvl1,
.lvl2{
  grid-template-columns: repeat(4, minmax(50px, 1fr) );
}

.lvl3{
  grid-template-columns: repeat(8, minmax(50px, 1fr) );
}

.lvl4 {
  grid-template-columns: repeat(8, minmax(50px, 1fr) );
}