#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-around;
}

.pokeCard {
  background-color: #211d1d;
  border: solid 1px whitesmoke;
  margin: 5px;
  color: whitesmoke;
}

.cardsDiv{
  display: grid; 
}

.lvl1,
.lvl2{
  grid-template-columns: repeat(4, minmax(50px, 1fr) );
}

.lvl3,
.lvl4,
.lvl5{
  grid-template-columns: repeat(8, minmax(50px, 1fr) );
}

@media screen and (max-width: 1500px) {
  .lvl1,
  .lvl2,
  .lvl3,
  .lvl4,
  .lvl5 {
    grid-template-columns: repeat(3, minmax(30px, 1fr) );
  }
}